<div class="line-item" (click)="openProductViewDialog()">
  <div [ngClass]="lineItem.quantity >= 0 ? 'quantity' : 'negativeQuantity'">{{lineItem.quantity}}</div>
  <div class="name">{{lineItem.name}}</div>
  <div class="price">
    <div>{{lineItem.finalTotal | number}}</div>
    <div class="price-original" *ngIf="lineItem.discounts.length > 0">
      {{lineItem.originalPrice * lineItem.quantity | number}}</div>
    <div class="addon" *ngFor="let addon of lineItem.addons">{{addon.name}} <span
            *ngIf="addon.price !== 0">+{{addon.price}}</span></div>
    <div class="addon" *ngFor="let label of discountLabels">
      {{label}}
    </div>
  </div>
  <button mat-icon-button (click)="handleRemoveClick($event)">
    <mat-icon class="remove-btn" svgIcon="deleteIcon"></mat-icon>
  </button>
</div>