<section fxLayout="column">

  <div class="table-view-header">
    <div>고객 목록</div>
    <span fxFlex></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="moreVert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon svgIcon="download"></mat-icon>
        <span>고객 내려받기</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon svgIcon="upload"></mat-icon>
        <span>고객 올리기</span>
      </button>
    </mat-menu>
  </div>

  <mat-card>
    <app-customer-filter [filter$]="filter$" (addCustomer)="openAddCustomerDialog()"></app-customer-filter>
    <section class="table-container">
      <mat-progress-bar mode="indeterminate" *ngIf="!tableInitiated"></mat-progress-bar>
      <table mat-table [dataSource]="dataSource" matSort [matSortActive]="tableSettings.sortActive"
             [matSortDirection]="tableSettings.sortDirection">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>고객명</th>
          <td mat-cell *matCellDef="let row">{{row.name || '-'}}</td>
        </ng-container>

        <ng-container matColumnDef="totalSalesAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>총매출</th>
          <td mat-cell *matCellDef="let row">{{row.totalSalesAmount | appCurrency}}</td>
        </ng-container>

        <ng-container matColumnDef="averageSalesAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>평균매출</th>
          <td mat-cell *matCellDef="let row">{{row.averageSalesAmount | appCurrency}}</td>
        </ng-container>

        <ng-container matColumnDef="totalSalesCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>구매</th>
          <td mat-cell *matCellDef="let row">{{row.totalSalesCount | number}}</td>
        </ng-container>


        <ng-container matColumnDef="totalStorePoint">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>누적포인트</th>
          <td mat-cell *matCellDef="let row">{{row.totalStorePoint | number}}</td>
        </ng-container>

        <ng-container matColumnDef="currentStorePoint">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>현재포인트</th>
          <td mat-cell *matCellDef="let row">{{row.currentStorePoint | number}}</td>
        </ng-container>

        <ng-container matColumnDef="lastPurchasedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>마지막 구매</th>
          <td mat-cell *matCellDef="let row">{{row.lastPurchasedDate | appDate : 'YY-MM-DD'}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell class="actions" *matCellDef="let row">
            <mat-icon class="editIcon" svgIcon="previewIcon" matTooltip="자세히" (click)="openCustomerInfoDialog(row.id)">
            </mat-icon>
            <mat-icon class="listIcon" svgIcon="viewListIcon" matTooltip="고객매출" [routerLink]="'/sales'"
                      [queryParams]="{customerId: row.id}"></mat-icon>
            <mat-icon class="editIcon" svgIcon="editIcon" matTooltip="수정" (click)="openAddCustomerDialog(row)">
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>

      </table>
      <mat-paginator #paginator [pageSize]="tableSettings.pageSize" [pageSizeOptions]="[5, 10, 20, 50, 100]">
      </mat-paginator>
    </section>
  </mat-card>

</section>