<section class="table-filter-container">
  <form [formGroup]="filterForm" fxLayout fxFlex>
    <div class="filters">
      <mat-form-field class="search" appearance="outline" floatLabel="always">
        <mat-label>고객명, 전화번호 검색</mat-label>
        <mat-icon matPrefix svgIcon="searchIcon"></mat-icon>
        <input matInput formControlName="search" #searchInput>
        <button mat-button type="button" *ngIf="filterForm.value.search" matSuffix mat-icon-button aria-label="Clear"
                (click)="removeSearchText()">
          <mat-icon svgIcon="closeIcon"></mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
  <div class="filter-actions">
    <button mat-button [disabled]="isFilterEmpty()" (click)="clearFilter()">필터제거</button>
    <button mat-raised-button color="primary" (click)="addCustomer.emit()">고객 추가</button>
  </div>

</section>