@import '../../shared/common-style';
.sales-detail {
  display: flex;
  &__content {
    flex: 1;
    padding: 8px 0;
  }
  &__line-items {
    display: flex;
    flex-direction: column;
    border-bottom: $border;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  &__summary {
    display: flex;
  }
  &__actions {
    width: 150px;
  }
}

.sd-line-item {
  display: flex;
  padding: 4px 0;
  &--header {
    color: $text-color-secondary;
  }
  &__quantity {
    width: 30px;
    text-align: right;
    padding-right: 25px;
  }
  &__name {
    flex: 1;
  }
  &__unit-price,
  &__total-price,
  &__tax {
    width: 110px;
    text-align: right;
    span {
      color: $text-color-disabled;
    }
  }
}

.sd-note {
  flex: 1;
}

.sd-totals {
  min-width: 300px;
  max-width: 300px;
  >div {
    display: flex;
    justify-content: space-between;
  }
  &__subtotal,
  &__discount,
  &__tax,
  &__payment {
    padding: 4px 0;
    color: $text-color-secondary;
  }
  &__tax {
    padding: 4px 0 8px 0;
    border-bottom: $border;
  }
  &__payment {
    padding: 8px 0 4px 0;
  }
  &__total {
    font-weight: bold;
    padding: 12px 0;
    border-bottom: $border;
  }
  &__balance {
    padding: 12px 0;
    font-weight: bold;
    color: $red-500;
  }
}
