<mat-list dense *ngIf="mode === 'byCount'">
  <mat-list-item *ngFor="let p of topSalesProductsByCount;let i = index;">
    <div class="product">
      <span class="name text-ellipsis">{{p.name}}</span>
      <span class="value">{{p.count | number}}</span>
      <!-- <div class="change">
        <mat-icon *ngIf="displayDataByCount[i].icon" [svgIcon]="displayDataByCount[i].icon" [class]="displayDataByCount[i].class"></mat-icon>
        <span>{{displayDataByCount[i].rateString}}</span>
      </div> -->
    </div>
  </mat-list-item>
</mat-list>

<!-- <mat-list dense *ngIf="mode === 'byAmount'">
  <mat-list-item *ngFor="let p of topSaleProducts.byAmount; let i = index;">
    <div class="product">
      <span class="name text-ellipsis">{{p.name}}</span>
      <span class="value">{{p.salesAmount | appCurrency}}</span>
      <div class="change">
        <mat-icon *ngIf="displayDataByAmount[i].icon" [svgIcon]="displayDataByAmount[i].icon" [class]="displayDataByAmount[i].class"></mat-icon>
        <span>{{displayDataByAmount[i].rateString}}</span>
      </div>
    </div>
  </mat-list-item>
</mat-list> -->
