@import '../../../shared/common-style';

.search {
  display: flex;
  align-items: center; // max-width: $quick-products-width;
  mat-input-container {
    width: 100%;
  }
  mat-icon {
    color: $text-color-secondary;
  }
  mat-form-field {
    width: 100%;
    max-width: 500px;
  }
}


.autocomplete-label {
  padding: 8px 16px;
  font-size: 13px;
  border-top: $border;
  border-bottom: $border;
  background-color: #fafafa;
}

.autocomplete-option {
  display: flex;
  font-size: 15px;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: 20px;
}

.price {
  flex: 0 60px;
  text-align: right;
}

.customer-name {
  padding-right: 20px;
}

.customer-contact {
  color: $text-color-secondary;
}

// No result message for autocomplete component
.no-result {
  padding: 12px 16px;
  color: $text-color-secondary;
  font-size: 14px;
}

