<section fxLayout="column">

  <div class="table-view-header">
    <div>상품 목록</div>
    <span fxFlex></span>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="moreVert"></mat-icon>
    </button> -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon svgIcon="download"></mat-icon>
        <span>상품 내려받기</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon svgIcon="upload"></mat-icon>
        <span>상품 올리기</span>
      </button>
    </mat-menu>
  </div>

  <mat-card>
    <app-product-filter [filter$]="filter$"></app-product-filter>
    <section class="table-container">
      <mat-progress-bar mode="indeterminate" *ngIf="!tableInitiated"></mat-progress-bar>
      <table mat-table [dataSource]="dataSource" matSort [matSortActive]="tableSettings.sortActive" [matSortDirection]="tableSettings.sortDirection" multiTemplateDataRows>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>상품명</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>생성일</th>
          <td mat-cell *matCellDef="let row"> {{row.created | appDate: 'YY-MM-DD'}}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>카테고리</th>
          <td mat-cell *matCellDef="let row"> {{row.category ? row.category.name : '-'}}</td>
        </ng-container>

        <ng-container matColumnDef="vendor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>공급처</th>
          <td mat-cell *matCellDef="let row"> {{row.vendor ? row.vendor.name : '-'}}</td>
        </ng-container>

        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>옵션</th>
          <td mat-cell *matCellDef="let row"> {{row.variants ? row.variants.length : "-"}}</td>
        </ng-container>

        <ng-container matColumnDef="retailPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>판매가</th>
          <td mat-cell *matCellDef="let row">
            <div>{{row.retailPrice | appCurrency}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>재고</th>
          <td mat-cell *matCellDef="let row" [routerLink]="'/inventory/' + row.id"> {{row.inventory.length ?
            row.count : "-"}}
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>옵션</th>
          <td mat-cell *matCellDef="let row">
            <div>{{row.variants.length}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="editIcon" svgIcon="previewIcon" matTooltip="자세히"
                      [routerLink]="'/product/detail/' + row.id"></mat-icon>
            <mat-icon class="editIcon" svgIcon="editIcon" matTooltip="수정" [routerLink]="'/product/edit/' + row.id">
            </mat-icon>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <app-variant-list [product]="element" *ngIf="element.variants.length"></app-variant-list>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

      </table>
      <mat-paginator #paginator [pageSize]="tableSettings.pageSize" [pageSizeOptions]="[5, 10, 20, 50, 100]">
      </mat-paginator>
    </section>

  </mat-card>

</section>