<section fxLayout="column">
  <app-common-page-header title="상품" buttonTitle="상품 추가" buttonLink="/product/add"></app-common-page-header>
  <app-product-filter [filter$]="filter$"></app-product-filter>

  <section class="table">
    <mat-progress-bar mode="indeterminate" *ngIf="!tableInitiated"></mat-progress-bar>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>상품명</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>생성일</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created | appDate: 'YYYY-MM-DD'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>카테고리</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.category ? row.category.name : '-'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="vendor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>공급처</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.vendor ? row.vendor.name : '-'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="option">
        <mat-header-cell *matHeaderCellDef mat-sort-header>옵션</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.variants ? row.variants.length : "-"}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="retailPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>판매가</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div>{{row.retailPrice | appCurrency}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef mat-sort-header>재고</mat-header-cell>
        <mat-cell *matCellDef="let row" [routerLink]="'/inventory/' + row.id"> {{row.inventory ? row.inventory.count : "-"}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="actions" *matCellDef="let row">
          <mat-icon class="editIcon" svgIcon="previewIcon" matTooltip="자세히"
                    [routerLink]="'/product/detail/' + row.id"></mat-icon>
          <mat-icon class="editIcon" svgIcon="editIcon" matTooltip="수정"
                    [routerLink]="'/product/edit/' + row.id"></mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row">
      </mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]">
    </mat-paginator>
  </section>

</section>
