@import '../shared/common-style';

.menu {
  margin-bottom: 10px;
  outline: none;

  &:hover {
    background: #282b3a;
  }
}

.menu-icon {
  color: #bebebe;
}

.menu-mini {
  @extend .menu;
  min-width: initial;
}

.menu-full {
  @extend .menu;
  color: #c6c6c6;
  width: 100%;
  text-align: left;

  mat-icon {
    margin-right: 14px;
  }
}

