<section fxLayout="column">
  <div class="table-view-header">
    <div>판매내역 <span>{{customerInfo}}</span></div>
    <span fxFlex></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="moreVert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon svgIcon="download"></mat-icon>
        <span>판매내역 내려받기</span>
      </button>
    </mat-menu>
  </div>

  <mat-card>
    <app-sales-filter [filter$]="filter$"></app-sales-filter>
    <section class="table-container">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="salesDate" matSortDirection="desc"
             multiTemplateDataRows>

        <ng-container matColumnDef="salesDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>판매일자</th>
          <td mat-cell *matCellDef="let row"> {{row.salesDate | appDate}}</td>
        </ng-container>

        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>직원명</th>
          <td mat-cell *matCellDef="let row"> {{ row.employee ? row.employee.name : '-'}}</td>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>고객명</th>
          <td mat-cell *matCellDef="let row"> {{ row.customer ? row.customer.name : '-'}}</td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>금액</th>
          <td mat-cell *matCellDef="let row"> {{row.totalPrice | appCurrency}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>상태</th>
          <td mat-cell *matCellDef="let row">
            <div class="status">
              <div [ngSwitch]="row.status">
                <div *ngSwitchCase="salesStatus.Open">판매중</div>
                <div *ngSwitchCase="salesStatus.Completed">판매완료</div>
                <div *ngSwitchCase="salesStatus.Hold">판매보류</div>
                <div *ngSwitchCase="salesStatus.LayBy">레이바이</div>
                <div *ngSwitchCase="salesStatus.Voided">취소</div>
                <div *ngSwitchCase="salesStatus.Return">환불</div>
                <div *ngSwitchCase="salesStatus.ReturnCompleted">환불완료</div>
                <div *ngSwitchCase="salesStatus.ReturnHold">환불보류</div>
                <div *ngSwitchCase="salesStatus.Exchange">교환</div>
                <div *ngSwitchCase="salesStatus.ExchageCompleted">교환완료</div>
                <div *ngSwitchCase="salesStatus.ExchangeHold">교환보류</div>
              </div>
              <div class="action" [ngSwitch]="row.status">
                <mat-icon *ngSwitchCase="salesStatus.Open" svgIcon="openInNewIcon" matTooltip="계속" (click)="continueSale(row)"></mat-icon>
                <mat-icon *ngSwitchCase="salesStatus.Hold" svgIcon="openInNewIcon" matTooltip="계속" (click)="continueSale(row)"></mat-icon>
                <mat-icon *ngSwitchCase="salesStatus.LayBy" svgIcon="openInNewIcon" matTooltip="계속" (click)="continueSale(row)"></mat-icon>
                <mat-icon *ngSwitchCase="salesStatus.Return" svgIcon="openInNewIcon" matTooltip="계속" (click)="continueSale(row.id)"></mat-icon>
                <mat-icon *ngSwitchCase="salesStatus.ReturnHold" svgIcon="openInNewIcon" matTooltip="계속" (click)="continueSale(row.id)"></mat-icon>
                <mat-icon *ngSwitchCase="salesStatus.Exchange" svgIcon="openInNewIcon" matTooltip="계속" (click)="continueSale(row.id)"></mat-icon>
                <mat-icon *ngSwitchCase="salesStatus.ExchangeHold" svgIcon="openInNewIcon" matTooltip="계속" (click)="continueSale(row.id)"></mat-icon>
                <mat-icon *ngSwitchCase="salesStatus.Completed" svgIcon="undoIcon" matTooltip="환불" (click)="returnSale(row)"></mat-icon>
              </div>
            </div>
          </td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <section class="sales-detail">
                <div fxFlex>
                  <mat-list dense>
                    <mat-list-item *ngFor="let li of element.lineItems">
                      <div class="lineItem" fxLayout fxFlex>
                        <div class="lineQuantity">{{li.quantity}}</div>
                        <div fxFlex>{{li.name}}</div>
                        <div class="multiplier">x</div>
                        <div class="linePrice">
                          <div>{{li.originalPrice | number}}</div>
                          <div class="price-original" *ngIf="li.originalPrice !== li.finalPrice">{{li.finalPrice |
                            number}}</div>
                        </div>
                        <div class="lineTotal">{{li.finalTotal | appCurrency}}</div>
                      </div>
                    </mat-list-item>
                  </mat-list>
                  <div class="divider"></div>
                  <div class="detailBottom" fxLayout>
                    <div class="note" fxFlex></div>
                    <div class="totals">
                      <div class="totalLine" *ngIf="element.totalDiscount > 0">
                        <div>할인</div>
                        <div>{{element.totalDiscount | appCurrency}}</div>
                      </div>
                      <div class="totalLine">
                        <div>과세 매출</div>
                        <div>{{element.totalTaxablePrice | appCurrency}}</div>
                      </div>
                      <div class="totalLine" *ngIf="element.totalTaxFreePrice > 0">
                        <div>면세 매출</div>
                        <div>{{element.totalTaxFreePrice | appCurrency}}</div>
                      </div>
                      <div class="totalLine">
                        <div>부가세</div>
                        <div>{{element.totalTax | appCurrency}}</div>
                      </div>
                      <div class="divider"></div>
                      <div class="totalLine">
                        <div>합계</div>
                        <div>{{element.totalPrice | appCurrency}}</div>
                      </div>
                      <div class="divider"></div>
                      <div class="totalLine" *ngFor="let payment of element.payments">
                        <div>
                          <span>결제({{getTypeNameKo(payment.paymentType)}})</span>
                        </div>
                        <div>{{payment.amount | appCurrency}}</div>
                      </div>
                      <div class="totalLine" *ngIf="element.payments.length === 0">
                        <div>
                          <span>결제</span>
                        </div>
                        <div>{{0 | appCurrency}}</div>
                      </div>
                      <div class="divider"></div>
                      <div class="totalLine">
                        <div>잔액</div>
                        <div>{{element.balance | appCurrency}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div fxLayout class="actions">
                  <section fxLayout="column">
                    <div fxFlex></div>
                    <button mat-button (click)="test()" *ngIf="element.status === salesStatus.Closed">
                      <mat-icon svgIcon="undoIcon"></mat-icon>
                      <span>환불</span>
                    </button>
                    <button mat-button (click)="test()">
                      <mat-icon svgIcon="giftcardIcon"></mat-icon>
                      <span>기프트 영수증</span>
                    </button>
                    <button mat-button (click)="test()">
                      <mat-icon svgIcon="emailIcon"></mat-icon>
                      <span>이메일 영수증</span>
                    </button>
                    <button mat-button (click)="test()">
                      <mat-icon svgIcon="printIcon"></mat-icon>
                      <span>영수증 출력</span>
                    </button>
                  </section>
                </div>
              </section>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row" [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>


      </table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </section>
  </mat-card>

</section>