<form class="app-form" (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit()" #form="ngForm">
  <app-create-content-header title="레지스터 설정" type="edit" returnUrl="/register" [canSubmit]="true">
  </app-create-content-header>
  <div class="sections" *ngIf="register">
    <mat-form-field>
      <input matInput [(ngModel)]="register.name" name="name" placeholder="레지스터명" required>
    </mat-form-field>
    <div class="label">빠른상품 설정</div>
    <mat-form-field>
      <input matInput placeholder="상품검색" [formControl]="productCtrl" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleOptionSelected($event.option.value)">
      <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
        <div class="product-option">
          <div>{{product.name}}</div>
          <span flex></span>
          <div>{{product.retailPrice | appCurrency}}</div>
        </div>
      </mat-option>
    </mat-autocomplete>

    <!-- SHOW NON-GROUP PRODUCTS -->
    <section class="quick-products-wrapper" *ngIf="currentQuickProductGroup == null">
      <app-quick-products [registerTabs]="register.tabs" [selectedTabIndex]="currentTabIndex"
                          (clicked)="onQuickProductClick($event)" (dropped)="onQuickProductDrop($event)"
                          (tabChange)="onTabChange($event)" [(selectedPosition)]="selectedQuickProductPosition">
      </app-quick-products>
      <button mat-icon-button type="button" (click)="openTabEditDialog()" matTooltip="탭 수정">
        <mat-icon svgIcon="editIcon"></mat-icon>
      </button>
    </section>

    <!-- SHOW GROUP PRODUCTS -->
    <section class="group-quick-products-wrapper" *ngIf="currentQuickProductGroup">
      <div class="group-header" [style.background-color]="currentQuickProductGroup.background">
        <span>{{currentQuickProductGroup.label}}</span>
        <div class="group-actions">
          <mat-icon svgIcon="editIcon" (click)="openGroupEditDialog()" matTooltip="그룹수정"></mat-icon>
          <mat-icon svgIcon="closeIcon" (click)="closeGroup()" matTooltip="그룹닫기"></mat-icon>
        </div>
      </div>
      <div class="quick-products">
        <app-quick-product *ngFor="let qp of currentQuickProductGroup.members; let i = index; trackBy: index"
                           [isSelected]="selectedQuickProductPosition === i" [quickProduct]="qp"
                           (quickProductClick)="onQuickProductClick($event)"
                           (quickProductDrop)="onQuickProductDrop($event)">
        </app-quick-product>
      </div>
    </section>
  </div>
</form>