<app-common-page-header title="카테고리" buttonTitle="카테고리 추가"
                        (buttonClick)="openAddCategoryDialog()"></app-common-page-header>

<section>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>카테고리명</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numberOfProducts">
      <mat-header-cell *matHeaderCellDef mat-sort-header>상품수</mat-header-cell>
      <mat-cell *matCellDef="let row"><a routerLink="/product"
                                         [queryParams]="{category: row.id}">{{row.numberOfProducts}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell class="actions" *matCellDef="let row">
        <mat-icon class="editIcon" svgIcon="editIcon" matTooltip="수정" (click)="openEditCategoryDialog(row)"></mat-icon>
        <mat-icon class="deleteIcon" svgIcon="deleteIcon" matTooltip="삭제" (click)="deleteCategory(row.id)"></mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</section>
