:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

app-main-toolbar {
  // z-index: 10;
}

mat-sidenav {
  background-color: #2b2e3e;
  box-shadow: 2px 0 6px rgba(0, 0, 0, .24);
  //width: 200px;
}

mat-sidenav-content {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  // width: 100%;
  height: 100%;
  // overflow-y: auto;
}
