@import '../../../../shared/common-style';

ul {
  list-style-type: none;
  padding: 4px 0;
  font-weight: 500;
  border-top: $border;
  border-bottom: $border;
  -webkit-margin-after: 0;
}

li {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.total-line {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
  width: 50%;
}

.edit {
  background-color: $main-content-background-color;
  position: initial;
}

.edit-wrapper {
  padding: 12px 24px;
}

.group-border {
  position: absolute;
  top: -1px;
  left: 0;
  bottom: -1px;
  width: 4px;
  background-color: $accent-color;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.75s;
}

.edit-discount-amount {
  width: 120px;
  margin-right: 25px;
}

.edit-discount-rate {
  width: 60px;
}

.priceAdjust {
  color: $green-500;
}
