<section class="table-filter-container">
  <form [formGroup]="filterForm" fxLayout fxFlex>
    <div class="filters">
      <mat-form-field class="search" appearance="outline" floatLabel="always">
        <mat-label>상품명, 재고 관리코드, 바코드 검색</mat-label>
        <mat-icon matPrefix svgIcon="searchIcon"></mat-icon>
        <input matInput formControlName="search" #searchInput>
        <button mat-button type="button" *ngIf="filterForm.value.search" matSuffix mat-icon-button
                (click)="removeSearchText()">
          <mat-icon svgIcon="closeIcon"></mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>카테고리</mat-label>
        <mat-select formControlName="categoryId">

          <mat-option value="">모든 카테고리</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>거래처</mat-label>
        <mat-select formControlName="vendorId">

          <mat-option value="">모든 거래처</mat-option>
          <mat-option *ngFor="let vendor of vendors" [value]="vendor.id">
            {{vendor.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="filter-actions">
    <button mat-button [disabled]="isFilterEmpty()" (click)="clearFilter()">필터제거</button>
    <button mat-raised-button color="primary" routerLink="/product/add">상품추가</button>
  </div>
</section>