<section *ngIf="!showDiscountInputs">
  <section class="header">
    <h1 mat-dialog-title>{{productName}}</h1>
    <!-- <div class="price">{{productPrice | number}}</div> -->

    <div fxLayout="column">
      <mat-checkbox class="example-margin" [checked]="addon.value" *ngFor="let addon of addons; let i = index;" (change)="updateAddons(i)">
        {{addon.name}}</mat-checkbox>
    </div>
  </section>

  <section class="quantityInput">
    <button mat-button (click)="decreaseQuantity()">
      <mat-icon svgIcon="remove"></mat-icon>
    </button>
    <input type="number" [value]="quantity" min=0 (input)="quantityInputChange($event.target.value)">
    <button mat-button (click)="increaseQuantity()">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
  </section>

  <button mat-button *ngIf="!lineItemDiscount" (click)="showDiscountInputs = true" class="discount-button">
    할인추가
  </button>

  <button mat-button *ngIf="lineItemDiscount" (click)="showDiscountInputs = true" class="discount-button">
    <div *ngIf="lineItemDiscount.method === discountMethods.FixedAmount" class="discount-label">
      <div *ngIf="lineItemDiscount.calculateMethod === calculateMethods.ApplyToEachQuantity">개별 할인
        {{lineItemDiscount.amount | appCurrency}} x {{quantity}}</div>
      <div *ngIf="lineItemDiscount.calculateMethod === calculateMethods.ApplyToTotalPrice">전체금액 할인
        {{lineItemDiscount.amount | appCurrency}}</div>
    </div>

    <div *ngIf="lineItemDiscount && lineItemDiscount.method === discountMethods.Percentage" class="discount-label">
      <div>할인 {{lineItemDiscount.percentage}}%</div>
    </div>
  </button>

</section>

<section *ngIf="showDiscountInputs">
  <section class="discount-header">
    <button mat-icon-button (click)="showDiscountInputs = false">
      <mat-icon svgIcon="back"></mat-icon>
    </button>
    <h1 mat-dialog-title>할인 추가</h1>
  </section>

  <section class="discount-inputs">
    <app-discount-inputs [discount]="lineItemDiscount" [isLineItemDiscount]="true" (addDiscount)="addDiscount($event)" (removeDiscount)="removeDiscount()">
    </app-discount-inputs>
  </section>
</section>
