<section fxLayout>
  <div class="searchInputs" fxLayout="column">
    <!--<div>-->
      <!--<mat-form-field class="searchInput">-->
        <!--<mat-icon matSuffix svgIcon="searchIcon"></mat-icon>-->
        <!--<mat-label>판매번호, 고객명, 직원명 검색</mat-label>-->
        <!--<input matInput [(ngModel)]="filter.searchValue" name="searchValue" (keyup)="searchValue$.next($event.target.value)">-->
        <!--<button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">-->
          <!--<mat-icon svgIcon="closeIcon"></mat-icon>-->
        <!--</button>-->
      <!--</mat-form-field>-->
    <!--</div>-->
    <div>
      <mat-form-field>
        <mat-select [(ngModel)]="filter.status" (ngModelChange)="filter.status=$event; filterChange.next(this.filter);"
                    name="categoryId"
                    placeholder="판매상태">
          <mat-option value="">모든 카테고리</mat-option>
          <mat-option [value]="salesStatus.Completed">판매완료</mat-option>
          <mat-option [value]="salesStatus.Hold">판매보류</mat-option>
          <mat-option [value]="salesStatus.ReturnCompleted">환불완료</mat-option>
          <mat-option [value]="salesStatus.ReturnHold">환불보류</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="filter.period" (ngModelChange)="periodChange($event)"
                    placeholder="판매 기간">
          <mat-option [value]="0">오늘</mat-option>
          <mat-option [value]="1">이번주</mat-option>
          <mat-option [value]="2">이번달</mat-option>
          <mat-option [value]="6">직접선택</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="filter.period === 6">
      <mat-form-field>
        <input matInput
               placeholder="기간선택"
               [satDatepicker]="picker"
               (dateChange)="changeDate($event.value)"
               [value]="dateRange">
        <sat-datepicker #picker [rangeMode]="true">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field>
    </div>
  </div>
  <!--<div class="buttons" fxLayout fxLayoutAlign="end end" fxFlex>-->
    <!--<button mat-button color="primary" [disabled]="isFilterEmpty()" (click)="clearFilter.next()">필터제거</button>-->
  <!--</div>-->
</section>
