<section class="buttons mat-elevation-z2">
  <button mat-button (touchend)="handleTouch($event, '1')" (click)="handleClick('1')">1</button>
  <button mat-button (touchend)="handleTouch($event, '2')" (click)="handleClick('2')">2</button>
  <button mat-button (touchend)="handleTouch($event, '3')" (click)="handleClick('3')">3</button>
  <button mat-button (touchend)="handleTouch($event, '4')" (click)="handleClick('4')">4</button>
  <button mat-button (touchend)="handleTouch($event, '5')" (click)="handleClick('5')">5</button>
  <button mat-button (touchend)="handleTouch($event, '6')" (click)="handleClick('6')">6</button>
  <button mat-button (touchend)="handleTouch($event, '7')" (click)="handleClick('7')">7</button>
  <button mat-button (touchend)="handleTouch($event, '8')" (click)="handleClick('8')">8</button>
  <button mat-button (touchend)="handleTouch($event, '9')" (click)="handleClick('9')">9</button>
  <button mat-button (touchend)="handleTouch($event, 'backspace')" (click)="handleClick('backspace')">
    <mat-icon svgIcon="backspace"></mat-icon>
  </button>
  <button mat-button (touchend)="handleTouch($event, '0')" (click)="handleClick('0')">0</button>
  <button mat-button (touchend)="handleTouch($event, '00')" (click)="handleClick('00')">00</button>
</section>