$nav-button-color: #00838F;
$base-font-family:  'Noto Sans KR', 'Gothic A1', 'Nanum Gothic', sans-serif;

$border-color: #e0e0e0;
$border: 1px solid #e0e0e0;

$text-color-primary: rgba(0,0,0,0.87);
$text-color-secondary: rgba(0,0,0,0.54);
$text-color-disabled: rgba(0,0,0,0.38);
$form-input-label-color: rgba(0,0,0,0.38);

$text-color-white-primary: rgba(255,255,255,1);
$text-color-white-secondary: rgba(255,255,255,0.7);
$text-color-white-disabled: rgba(255,255,255,0.5);

$icon-color-default: rgba(0,0,0,0.54);
$icon-color-light: rgba(0,0,0,0.37);

$lable-color: rgba(0,0,0,.6);

$primary-color: #3f51b5;
$accent-color: #ffe082;

$indigo-600: #3949AB;
$indigo-500: #3f51b5;
$green-500: #4CAF50;
$tael-500: #009688;
$red-500: #F44336;
$red-400: #EF5350;

$link-color: $indigo-500;

$whiteframe-1dp: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);


$main-content-background-color: #f0f4f4;


$media-sm: "screen and (max-width: 959px)";
