@import "_variables";
.app-form {
  // make input-container full width and enough space for error message
  mat-form-field {
    width: 100%;
    font-size: 16px;
  }
  mat-select {
    width: 100%;
  }
  mat-card {
    margin: 24px;
  }
  .accordion {
    padding: 24px;
  }
}

.cardWidthDescription {
  position: relative;
  display: flex;
  > div:first-child {
    min-width: 60%;
    max-width: 60%;
    margin-right: 40px;
    @media #{$media-sm} {
      max-width: initial;
    }
  }
  > div:last-child {
    position: relative;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.38);
    padding: 24px 0;
    @media #{$media-sm} {
      display: none;
    }
    > p {
      position: absolute;
      left: 0;
      top: 0;
      padding-right: 24px;
    }
  }
}

.radioGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 10px;
  > div {
    width: 80px;
    font-size: 16px;
    color: $form-input-label-color;
    margin-right: 25px;
  }
  .mat-radio-button {
    width: 90px;
    margin-right: 15px;
  }
}

.inputWithBox {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: $text-color-primary;
}

// Wrapping multile form fields in horizontal
.h-form-fields {
  display: flex;
  margin: 0 -12px;
  mat-form-field {
    padding: 0 12px;
  }
}

.exampleTable {
  > thead {
    > tr {
      > th {
        text-align: left;
      }
    }
  }
  > tbody {
    > tr {
      > td:last-child {
        text-align: right;
      }
    }
  }
}

.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}

.form-errors {
  padding: 16px 24px;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin: 24px 24px 0 24px;
  color: #721c24;
  font-size: 14px;
  > div {
    margin-bottom: 4px;
  }
}

.inline-edit-cell {
  position: relative;
}

.inline-input.ng-invalid {
  color: #f44336;
  &::placeholder {
    color: #f44336;
  }
}

.inline-input-error {
  color: #f44336;
  font-size: 11px;
  position: absolute;
  left: 1px;
  bottom: -2px;
}
