@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";

@import "_variables";
@import "~saturn-datepicker/bundle.css";

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: "Gothic A1, Nanum Gothic, sans-serif"
);

@include mat-core($custom-typography);

// Anuglar Material Overwrite
.mat-autocomplete-panel {
  max-width: 100% !important;
}

.mat-list-item {
  font-family: $base-font-family;
}

.mat-option {
  > span {
    width: 100%;
  }
}

.mat-drawer-container {
  background-color: $main-content-background-color !important;
}

.table-container {
  position: relative;
  overflow: auto;
  // padding: 12px 36px;
}

.mat-table {
  width: 100%;
  background: transparent !important;

  .element-row:not(.expanded-row):hover {
    background: #f5f5f5;
  }

  .element-row:not(.expanded-row):active {
    background: #efefef;
  }

  // for multiTemplateDataRows
  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }

  tr.detail-row {
    height: 0;
  }

  .detail {
    display: flex;
    flex: 1;
    > div:not(:last-child) {
      margin-right: 36px;
    }
    section {
      margin-bottom: 24px;
    }
    .actions {
      flex: 1;
      max-width: 200px;
      > section {
        display: flex;
        flex-direction: column;
      }
      button {
        display: flex;
      }
    }
  }
  .detail-header {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
    border-bottom: $border;
    padding: 6px 0;
    margin-bottom: 18px;
  }
  .detail-line {
    display: flex;
    margin-bottom: 10px;
    > div:first-child {
      flex: 0 35%;
      color: $text-color-secondary;
    }
    > div:last-child {
      flex: 0 65%;
    }
  }
  .numeric {
    text-align: right;
  }
}

.mat-paginator {
  margin: 0 36px;
  background: transparent;
}

// makes prefix icon and text are aligned
.mat-input-prefix {
  align-self: flex-end;
  margin-right: 6px;
  > mat-icon {
    color: $icon-color-default;
  }
}

// dense style form field
mat-form-field.dense {
  .mat-form-field-wrapper {
    padding-bottom: 0.5em;
  }

  .mat-form-field-infix {
    padding: 0.25em 0 0.5em 0;
  }

  .mat-form-field-underline {
    bottom: 0.5em;
  }
}

.mat-form-field-appearance-fill.dense {
  .mat-form-field-flex {
    padding: 0.5em 0.5em 0 0.5em;
  }
}

.mat-button:not(.mat-icon-button),
.mat-stroked-button:not(.mat-icon-button),
.mat-raised-button:not(.mat-icon-button) {
  .mat-icon {
    margin-right: 4px;
    // color: $icon-color-default;
  }
}

.mat-form-field-appearance-legacy {
  .mat-form-field-prefix,
  .mat-form-field-suffix {
    align-self: flex-end;
  }
}


// using Korean font, icon rendered slightly lower than center
.mat-mini-fab {
  font-family: sans-serif;
}



// Mat dialogs doesn't follow Material design
.mat-dialog-actions {
  margin-right: -24px;
  padding-right: 8px !important;
  justify-content: flex-end;
}

.mat-dialog-content {
  padding-bottom: 24px !important;
}