/* this file will be extracted to main dist folder and is imported in index.html */

/* This file is for setting global styles  */
@import "material";
@import "form";

button,
select,
html,
textarea,
input,
.mat-chips {
  font-family: $base-font-family !important;
}

body {
  margin: 0;
  font-family: $base-font-family;
}

mat-sidenav-container {
  flex: 1;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

[flex] {
  flex: 1;
}

// used for toggle-section directive
.toggle-section {
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: height;
}

.scroller {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(100, 100, 100, 0.2);
    margin-right: 1px;
    transition: opacity 300ms ease-in-out;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
