.amount {
  margin-bottom: 12px;
}

mat-button-toggle-group {
  margin-bottom: 0.5em;

  .button-toggle-label-content {
    line-height: 40px;
    width: 30px;
  }
}

mat-form-field {
  margin-right: 12px;
}

.radio-group {
  margin-bottom: 24px;
}

mat-radio-button {
  margin-right: 16px;
}



.actions {
  text-align: right;

  button {
    margin-left: 6px;
  }
}
