<form (submit)="handleSubmit()">
  <mat-form-field class="dense">
    <mat-label>할인명</mat-label>
    <input type="text" matInput maxlength=100 [(ngModel)]="name" name="name">
  </mat-form-field>
  <div fxLayout fxLayoutAlign="start end" class="amount">
    <mat-form-field class="dense">
      <mat-label>할인금액</mat-label>
      <input type="number" min="0" matInput [(ngModel)]="amountOrPercentage" name="amountOrPercentage" required>
    </mat-form-field>
    <mat-button-toggle-group name="fontStyle" [(ngModel)]="discountMethod" name="discountMethod">
      <mat-button-toggle [value]="discountMethods.FixedAmount">
        <div class="button-toggle-label-content">$</div>
      </mat-button-toggle>
      <mat-button-toggle [value]="discountMethods.Percentage">
        <div class="button-toggle-label-content">%</div>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="radio-group">
    <mat-radio-group *ngIf="isLineItemDiscount" [(ngModel)]="calculateMethod" name="calculateMethod">
      <mat-radio-button [value]="calculateMethods.ApplyToTotalPrice">전채금액 할인</mat-radio-button>
      <mat-radio-button [value]="calculateMethods.ApplyToEachQuantity">개별 할인</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="actions">
    <button type="button" mat-button color="warn" (click)="removeDiscount.emit()">
      <span>할인 삭제</span>
    </button>
    <button type="submit" mat-stroked-button color="primary">
      <span>할인 적용</span>
    </button>
  </div>
</form>